* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

/*CONTAINER*/

/*.questions*/

/*current time*/

/*back*/

/*clear*/

/*button*/

/*textarea*/

/*submit*/

/*label*/

/*input*/

/*h1*/

/*li*/

/*create Div*/

/*media query max width 786*/

/*media query max width 640*/
