* {
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}
.container {
  position: absolute;
  margin: 20px;
  padding: 20px;
  width: 500px;
}
.quiz-box {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 18%;
  width: 500px;
}

.quiz {
  margin: auto;
}
.quiz-box h1 {
  border: 1px solid black;
  margin: 20px;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.quiz-box p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 20px;
  border: 2px solid black;
  font-size: large;
  background-color: lightsalmon;
}

.btn {
  margin: 5px;
  padding: 8px;
  border-style: double;
  border-color: black;
  background-color: lightcoral;
  border-radius: 8px;
}

.btn start {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  font-weight: bolder;
}

.questions {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 18%;
  width: 500px;
}
.questions h1 {
  border: 1px solid black;
  margin: 20px;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.current-time {
  float: right;
  padding-top: 2px;
  padding-right: 7px;
  color: black;
  border: 1px solid black;
  background-color: coral;
}
.back {
  margin: 5px;
  padding: 8px;
  border-style: double;
  border-color: black;
  background-color: lightcoral;
  border-radius: 8p;
}
.clear {
  margin: 5px;
  padding: 8px;
  border-style: double;
  border-color: black;
  background-color: lightcoral;
  border-radius: 8p;
}
